<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1" name="viewport" />

{% if page.title %}
  <title>{{ page.title }}
    ·
    {{ site.title }}</title>
{% else %}
  <title>{{ site.title }}</title>
{% endif %}

<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

{% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}

<link rel="icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="apple-touch-icon" href="{{ "/assets/touch-icon.png" | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ "/assets/core.css" | prepend: site.baseurl | prepend: site.url }}">
<link rel="canonical" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
<link
  rel="alternate"
  type="application/atom+xml"
  title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

{% if jekyll.environment == 'production' %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
{% endif %}

{% if site.mathjax == true %}
  <script>
    MathJax = {
      tex: {
        inlineMath: [
          [
            '$', '$'
          ],
          [
            '\\(', '\\)'
          ]
        ]
      }
    };
  </script>
  <script
    async
    id="MathJax-script"
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endif %}